@page
@model proyecto1bases.Pages.TareaCotizacion
@{
    ViewData["Title"] = "Asignar Tarea";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar tarea</title>
    <link rel="stylesheet" href="~/css/index.css">
</head>
<body>
    <div class="container">
        <h2>Asignar tarea</h2>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
        <form method="post">
            <div class="form-group">
                <label for="Cedula">Empleado</label>
                <select id="Cedula" asp-for="Cedula" class="form-control" required>
                    <option value="">Seleccione una Empleado</option>
                    @foreach (var Empleados in Model.Empleados)
                    {
                        <option value="@Empleados.Id"> @Empleados.nombre  </option>
                    }
                </select>
            </div>
            <div class="form-group">
            <label for="Cotizacion">Cotización:</label>
                <select asp-for="IdCotizacion" class="form-control" required>
                    <option value="">Seleccione una Cotización</option>
                    @foreach (var cotiza in Model.Cotizacion)
                    {
                        <option value="@cotiza">@cotiza</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="Estado">Estado:</label>
                <select id="Estado" asp-for="estado" class="form-control" required>
                        <option value="">Seleccione el estado</option>
                        <option value="pendiente">Pendiente</option>
                        <option value="en progreso">en progreso</option>
                        <option value="completada">completada</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Descripcion">Descripcion</label>
                <textarea asp-for="descripcion" class="form-control" required></textarea>
            </div>
            <div class="form-group">
                <label for="fechaPago">Fecha Limite:</label>
                <input type="date" asp-for="fechaLimite" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Asignar tarea</button>
        </form>
    </div>
        <form method="get" action=/cotizacion/Cotizar>
            <button type="submit" class="boton-volver">Volver</button>
    </form>
</body>
</html>