@page
@model proyecto1bases.Pages.Transados
@{
    ViewData["Title"] = "Top movimientos transados";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/index.css">
    <style>
        .styled-table {
            width: 100%; 
            border-collapse: collapse; 
            margin-top: 15px;
        }

        .styled-table th, .styled-table td {
            padding: 8px;
            text-align: left; 
            border-bottom: 1px solid #ddd; 
        }

        .styled-table th {
            background-color: #4CAF50; 
            color: white; 
        }

        .styled-table tr:hover {
            background-color: #f1f1f1; 
        }

        .styled-table tbody tr:nth-child(even) {
            background-color: #f9f9f9; 
        }

    </style>
</head>
<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <form method="post">
            <label for="fechaInicio">Fecha Inicial</label>
            <input type="date" id="fechaInicio" name="fechaInicio" />
            <label for="fechaFinal">Fecha Final</label>
            <input type="date" id="fechaFinal" name="fechaFinal" />
            <button type="submit">Filtrar</button>
        </form>

        @if (Model.Transadostop != null && Model.Transadostop.Any())
        {
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Codigo entrada bodega</th>
                        <th>Nombre de bodedad</th>
                        <th>Entradas</th>
                        <th>Salidas</th>
                        <th>total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var datos in Model.Transadostop)
                    {
                        <tr>
                            <td>@datos.bodega</td>
                            <td>@datos.nombre_bodega</td>
                            <td>@datos.Entradas</td>
                            <td>@datos.Salidas</td>
                            <td>@datos.total</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="no-data-message">
                No hay datos disponibles para mostrar.
            </div>
        }
    </div>
    
    <form method="get" action="/menus/Reportes">
        <button type="submit" class="boton-volver">Volver</button>
    </form>
</body>
</html>
